{
  "openapi": "3.1.0",
  "info": {
    "title": "Ressourcenplanung API",
    "version": "1.0.0",
    "summary": "Kapazitäts- und Pensumplanung für Bauprojekte des BBL.",
    "description": "SAP ePPM führt den Golden Record. Diese API spiegelt Stammdaten, Phasen, Kredite und Termine **lesend** und besitzt selbst nur, was in ePPM nicht existiert: Pensum-Zuteilungen je Person und Quartal, Soll-Werte, Abwesenheiten, Begründungen und Freigaben.\n\nAlle Inhalte in den Beispielen sind fiktiv.",
    "contact": { "name": "Bundesamt für Bauten und Logistik BBL" },
    "license": { "name": "MIT", "identifier": "MIT" }
  },
  "servers": [
    { "url": "https://ressourcenplanung.bbl.admin.ch/api/v1", "description": "Produktion" },
    { "url": "https://ressourcenplanung-test.bbl.admin.ch/api/v1", "description": "Abnahme" }
  ],
  "security": [{ "eiam": [] }],
  "tags": [
    { "name": "Projekte", "description": "Stammdaten gespiegelt aus SAP ePPM, lesend. Planungsdaten in verschachtelten JSONB-Feldern." },
    { "name": "Kapazität", "description": "Personen, Anstellungsgrade und Abwesenheiten. App-eigen, sofern HR keine Schnittstelle liefert." },
    { "name": "Meilensteine", "description": "Termine gespiegelt aus ePPM. Verschiebungen laufen als Antrag, nicht als Schreibzugriff." },
    { "name": "Verlauf und Export", "description": "Protokoll und Ausgabeformate." },
    { "name": "Benutzer", "description": "Kein eigenes Benutzerverwaltungs-CRUD. Identität und Rollen kommen aus eIAM." }
  ],
  "paths": {
    "/projects": {
      "get": {
        "tags": ["Projekte"],
        "summary": "Projekte auflisten",
        "description": "Liste, gefiltert über phase, lead, location, quarter_from, quarter_to. Paginiert.",
        "operationId": "listProjects",
        "parameters": [
          { "name": "phase", "in": "query", "description": "SIA-Hauptphase, mehrfach erlaubt.", "schema": { "type": "array", "items": { "type": "string", "enum": ["1", "2", "3", "4", "5", "6"] } }, "example": ["3", "5"] },
          { "name": "lead", "in": "query", "description": "Kürzel der Projektleitung, mehrfach erlaubt.", "schema": { "type": "array", "items": { "type": "string" } }, "example": ["sonja.beispiel"] },
          { "name": "location", "in": "query", "description": "Teilportfolio.", "schema": { "type": "string", "enum": ["inland", "ausland", "zoll", "repraesentativ", "sport"] } },
          { "name": "quarter_from", "in": "query", "schema": { "$ref": "#/components/schemas/Quarter" }, "example": "2026Q3" },
          { "name": "quarter_to", "in": "query", "schema": { "$ref": "#/components/schemas/Quarter" }, "example": "2028Q2" },
          { "name": "page", "in": "query", "schema": { "type": "integer", "minimum": 1, "default": 1 } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 200, "default": 50 } }
        ],
        "responses": {
          "200": {
            "description": "Seite der gefilterten Projekte.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProjectPage" },
                "example": {
                  "data": [
                    { "id": 8640100051, "number": "…0051", "title": "Musterlingen, Ahornweg 4+6, Instandsetzung", "phase": "32", "lead": "sonja.beispiel", "location": "inland", "priority": "hoch", "budget_chf": 3050000, "pre_credit": true, "source": "eppm", "synced_at": "2026-08-25T05:15:00Z" },
                    { "id": 8640100012, "number": "…0012", "title": "Beispielstadt, Place de l’Avenir 10, Unterhalt", "phase": "52", "lead": "alina.beispiel", "location": "inland", "priority": "hoch", "budget_chf": 36300000, "pre_credit": false, "source": "eppm", "synced_at": "2026-08-25T05:15:00Z" }
                  ],
                  "meta": { "page": 1, "per_page": 50, "total": 11, "scope_total": 512 }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/projects/{id}": {
      "get": {
        "tags": ["Projekte"],
        "summary": "Ein Projekt lesen",
        "description": "Ein Projekt mit allocations, milestones und targets als verschachtelte Objekte.",
        "operationId": "getProject",
        "parameters": [{ "$ref": "#/components/parameters/ProjectId" }],
        "responses": {
          "200": {
            "description": "Das Projekt mit seinen Planungsdaten.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Project" },
                "example": {
                  "id": 8640100051,
                  "number": "…0051",
                  "title": "Musterlingen, Ahornweg 4+6, Instandsetzung",
                  "phase": "32",
                  "lead": "sonja.beispiel",
                  "location": "inland",
                  "priority": "hoch",
                  "budget_chf": 3050000,
                  "pre_credit": true,
                  "allocations": [
                    { "person": "sonja.beispiel", "role": "projektleitung", "quarter": "2026Q3", "pensum_pct": 50 },
                    { "person": "nadia.muster", "role": "bauleitung", "quarter": "2026Q3", "pensum_pct": 40 }
                  ],
                  "targets": [{ "quarter": "2026Q3", "pensum_pct": 80 }],
                  "milestones": [
                    { "code": "MS4", "name": "Baukredit bewilligt", "sub_phase": "33", "plan_date": "2027-06-15", "forecast_date": "2027-06-15", "status": "on_track" }
                  ],
                  "source": "eppm",
                  "synced_at": "2026-08-25T05:15:00Z"
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/projects/{id}/allocations": {
      "patch": {
        "tags": ["Projekte"],
        "summary": "Pensum setzen",
        "description": "Pensum je Person und Quartal setzen. Verlangt `reason`, sobald die Person damit über ihren Anstellungsgrad kommt. Das laufende Quartal ist gesperrt.",
        "operationId": "patchAllocations",
        "parameters": [{ "$ref": "#/components/parameters/ProjectId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AllocationPatch" },
              "example": {
                "allocations": [{ "person": "sonja.beispiel", "role": "projektleitung", "quarter": "2027Q1", "pensum_pct": 85 }],
                "reason": "Bauleitung Etappe 2 vorgezogen, Freigabe Abteilungsleitung liegt vor."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Das Projekt nach der Änderung, mit dem erzeugten Verlaufseintrag.",
            "content": {
              "application/json": {
                "example": {
                  "id": 8640100051,
                  "allocations": [{ "person": "sonja.beispiel", "role": "projektleitung", "quarter": "2027Q1", "pensum_pct": 85 }],
                  "history_entry": { "id": "c-8640100051-2027Q1-1", "field": "pensum", "value": "80 % → 85 %", "actor": "sonja.beispiel", "at": "2026-08-25T07:15:00Z" }
                }
              }
            }
          },
          "422": {
            "description": "Begründung fehlt, oder das Quartal ist gesperrt.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": { "error": "reason_required", "message": "Sonja Beispiel wäre damit bei 118 % — Begründung ist Pflicht bei Überlast.", "field": "reason" }
              }
            }
          }
        }
      }
    },
    "/projects/{id}/history": {
      "get": {
        "tags": ["Projekte"],
        "summary": "Protokoll eines Projekts",
        "description": "Änderungsprotokoll dieses Projekts, unveränderlich.",
        "operationId": "getProjectHistory",
        "parameters": [{ "$ref": "#/components/parameters/ProjectId" }],
        "responses": {
          "200": {
            "description": "Einträge, neueste zuerst.",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/HistoryEntry" } },
                "example": [
                  { "id": "c1", "at": "2026-08-21T09:12:00Z", "actor": "lars.muster", "field": "pensum", "change": "Bauleitung Etappe 2 vorgezogen", "value": "30 % → 35 %" },
                  { "id": "c2", "at": "2026-08-21T09:13:00Z", "actor": "lars.muster", "field": "begruendung", "change": "Überlast Q3/2026 freigegeben", "value": "erfasst" }
                ]
              }
            }
          }
        }
      }
    },
    "/capacity": {
      "get": {
        "tags": ["Kapazität"],
        "summary": "Kapazität je Quartal",
        "description": "Netto-Kapazität je Quartal, aggregiert über die gefilterte Menge. Netto = brutto minus Abwesenheiten.",
        "operationId": "getCapacity",
        "parameters": [
          { "name": "quarter_from", "in": "query", "schema": { "$ref": "#/components/schemas/Quarter" }, "example": "2026Q3" },
          { "name": "quarter_to", "in": "query", "schema": { "$ref": "#/components/schemas/Quarter" }, "example": "2028Q2" }
        ],
        "responses": {
          "200": {
            "description": "Kapazität, Bedarf und Auslastung je Quartal.",
            "content": {
              "application/json": {
                "example": {
                  "quarters": ["2026Q3", "2026Q4", "2027Q1", "2027Q2", "2027Q3", "2027Q4", "2028Q1", "2028Q2"],
                  "gross_pct": [540, 540, 560, 560, 560, 560, 560, 560],
                  "absence_pct": [60, 30, 25, 30, 60, 30, 25, 30],
                  "net_pct": [480, 510, 535, 530, 500, 530, 535, 530],
                  "demand_pct": [572, 595, 630, 580, 510, 400, 250, 170],
                  "external_pct": [35, 35, 70, 65, 60, 35, 10, 5],
                  "utilisation_pct": [112, 110, 105, 97, 90, 69, 45, 31],
                  "status": ["ueberlast", "ueberlast", "ueberlast", "knapp", "ok", "frei", "frei", "frei"]
                }
              }
            }
          }
        }
      }
    },
    "/capacity/people": {
      "get": {
        "tags": ["Kapazität"],
        "summary": "Auslastung je Person",
        "description": "Auslastung je Person und Quartal, inklusive Anstellungsgrad.",
        "operationId": "getCapacityPeople",
        "responses": {
          "200": {
            "description": "Personen der eigenen Abteilung mit ihrer Belegung.",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/PersonCapacity" } },
                "example": [
                  { "person": "sonja.beispiel", "name": "Sonja Beispiel", "role": "projektleitung", "employment_pct": 100, "load_pct": [118, 118, 108, 95, 75, 55, 30, 20] },
                  { "person": "paula.beispiel", "name": "Paula Beispiel", "role": "projektentwicklung", "employment_pct": 80, "load_pct": [90, 95, 94, 94, 85, 75, 60, 44] }
                ]
              }
            }
          }
        }
      }
    },
    "/capacity/absences/{person_id}": {
      "patch": {
        "tags": ["Kapazität"],
        "summary": "Abwesenheiten erfassen",
        "description": "Abwesenheiten je Quartal erfassen. App-eigen, solange HR keine Schnittstelle liefert.",
        "operationId": "patchAbsences",
        "parameters": [
          { "name": "person_id", "in": "path", "required": true, "schema": { "type": "string" }, "example": "sonja.beispiel" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": { "absences": [{ "quarter": "2026Q3", "pct": 60, "note": "Sommerpause" }] }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Die Person mit ihren erfassten Abwesenheiten.",
            "content": { "application/json": { "example": { "person": "sonja.beispiel", "absences": [{ "quarter": "2026Q3", "pct": 60 }] } } }
          }
        }
      }
    },
    "/milestones": {
      "get": {
        "tags": ["Meilensteine"],
        "summary": "Meilensteine auflisten",
        "description": "Gates mit plan_date, forecast_date und status. Filter wie bei Projekten.",
        "operationId": "listMilestones",
        "parameters": [
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["on_track", "late", "pending"] } },
          { "name": "quarter_from", "in": "query", "schema": { "$ref": "#/components/schemas/Quarter" } }
        ],
        "responses": {
          "200": {
            "description": "Gates, nach Plan-Termin sortiert.",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Milestone" } },
                "example": [
                  { "id": "ms-44-5", "project_id": 8640100044, "code": "MS5", "name": "Vergabe erfolgt", "sub_phase": "41", "plan_date": "2026-10-15", "forecast_date": "2026-10-15", "status": "on_track" },
                  { "id": "ms-06-3", "project_id": 8640100006, "code": "MS3", "name": "Vorprojekt genehmigt", "sub_phase": "31", "plan_date": "2026-11-30", "forecast_date": "2027-02-15", "status": "late" }
                ]
              }
            }
          }
        }
      }
    },
    "/milestones/{id}/reschedule-request": {
      "post": {
        "tags": ["Meilensteine"],
        "summary": "Verschiebung beantragen",
        "description": "Antrag auf Verschiebung mit Begründung. Die App schreibt Termine **nicht** — ePPM führt sie. Die Antwort enthält eine `request_id`.",
        "operationId": "requestReschedule",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "example": "ms-06-3" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": { "proposed_date": "2027-02-15", "reason": "Verzug durch Statikprüfung." }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Antrag entgegengenommen und an ePPM weitergeleitet.",
            "content": {
              "application/json": {
                "example": { "request_id": "RR-2026-0825-07", "status": "pending", "milestone_id": "ms-06-3", "proposed_date": "2027-02-15" }
              }
            }
          }
        }
      }
    },
    "/history": {
      "get": {
        "tags": ["Verlauf und Export"],
        "summary": "Protokoll",
        "description": "Alle Änderungen, paginiert, filterbar nach field, person, project, period. Nur app-eigene Felder erscheinen hier.",
        "operationId": "listHistory",
        "parameters": [
          { "name": "field", "in": "query", "schema": { "type": "string", "enum": ["pensum", "begruendung", "termin", "projektleitung", "abwesenheiten"] } },
          { "name": "person", "in": "query", "schema": { "type": "string" } },
          { "name": "project", "in": "query", "schema": { "type": "integer", "format": "int64" } }
        ],
        "responses": {
          "200": {
            "description": "Einträge, neueste zuerst.",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    { "id": "c1", "at": "2026-08-21T09:12:00Z", "actor": "lars.muster", "project_id": 8640100051, "field": "pensum", "change": "Bauleitung Etappe 2 vorgezogen", "value": "30 % → 35 %" }
                  ],
                  "meta": { "page": 1, "per_page": 25, "total": 9 }
                }
              }
            }
          }
        }
      }
    },
    "/export": {
      "get": {
        "tags": ["Verlauf und Export"],
        "summary": "Ansicht exportieren",
        "description": "CSV, XLSX oder PDF der aktuellen Auswahl. Der Export übernimmt Ansicht, Filter, Zeitraum und Einheit; das PDF trägt Plankopf, feste Legende und Dokument-ID.",
        "operationId": "exportView",
        "parameters": [
          { "name": "format", "in": "query", "required": true, "schema": { "type": "string", "enum": ["csv", "xlsx", "pdf"] }, "example": "pdf" },
          { "name": "view", "in": "query", "schema": { "type": "string", "enum": ["uebersicht", "termine", "dashboard", "verlauf"] }, "example": "uebersicht" },
          { "name": "unit", "in": "query", "schema": { "type": "string", "enum": ["pct", "fte"], "default": "pct" } }
        ],
        "responses": {
          "200": {
            "description": "Die Datei.",
            "content": {
              "text/csv": {},
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {},
              "application/pdf": {}
            },
            "headers": {
              "X-Document-Id": { "description": "Zitierfähige Dokument-ID des Exports.", "schema": { "type": "string", "examples": ["RP-2026-0825-01"] } }
            }
          }
        }
      }
    },
    "/me": {
      "get": {
        "tags": ["Benutzer"],
        "summary": "Angemeldete Person",
        "description": "Angemeldete Person, Rollen und zugängliche Abteilungen. Abgeleitet aus dem eIAM-Token, nie aus einem Parameter.",
        "operationId": "getMe",
        "responses": {
          "200": {
            "description": "Identität und Berechtigung.",
            "content": {
              "application/json": {
                "example": { "person": "sonja.beispiel", "name": "Sonja Beispiel", "roles": ["read", "plan"], "departments": ["projektmanagement"] }
              }
            }
          }
        }
      }
    },
    "/people": {
      "get": {
        "tags": ["Benutzer"],
        "summary": "Personen der Abteilung",
        "description": "Personen der eigenen Abteilung für Filter und Zuweisung. Lesend.",
        "operationId": "listPeople",
        "responses": {
          "200": {
            "description": "Personen mit Rolle und Anstellungsgrad.",
            "content": {
              "application/json": {
                "example": [
                  { "person": "sonja.beispiel", "name": "Sonja Beispiel", "role": "projektleitung", "employment_pct": 100 },
                  { "person": "nadia.muster", "name": "Nadia Muster", "role": "bauleitung", "employment_pct": 60 }
                ]
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "eiam": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer-Token aus eIAM (OIDC). Rollen als Claims: `read` für alle, `plan` für die Abteilungsleitung im eigenen Bereich, `admin` für das Portfoliomanagement. Die Abteilungszugehörigkeit kommt aus dem Token."
      }
    },
    "parameters": {
      "ProjectId": {
        "name": "id", "in": "path", "required": true,
        "description": "Bauprojekt-ID aus ePPM.",
        "schema": { "type": "integer", "format": "int64" },
        "example": 8640100051
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Kein oder ungültiges eIAM-Token.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" }, "example": { "error": "unauthorized", "message": "Bearer-Token fehlt oder ist abgelaufen." } } }
      },
      "NotFound": {
        "description": "Nicht gefunden oder ausserhalb der eigenen Abteilung.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" }, "example": { "error": "not_found", "message": "Bauprojekt 8640100051 ist in dieser Abteilung nicht sichtbar." } } }
      }
    },
    "schemas": {
      "Quarter": {
        "type": "string",
        "pattern": "^[0-9]{4}Q[1-4]$",
        "description": "Quartal als `JJJJQn`.",
        "examples": ["2026Q3"]
      },
      "Project": {
        "type": "object",
        "description": "allocations, targets und milestones sind JSONB — sie ändern sich mit der Planung und brauchen keine eigene Tabelle pro Quartal. Was aus ePPM kommt, trägt source und synced_at.",
        "required": ["id", "title", "phase", "location"],
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "number": { "type": "string", "description": "Verkürzte Anzeige-ID." },
          "title": { "type": "string" },
          "phase": { "type": "string", "description": "SIA-112-Teilphase.", "examples": ["32"] },
          "lead": { "type": ["string", "null"], "description": "Kürzel der Projektleitung, null wenn offen." },
          "location": { "type": "string", "enum": ["inland", "ausland", "zoll", "repraesentativ", "sport"] },
          "priority": { "type": "string", "enum": ["hoch", "mittel", "tief"] },
          "budget_chf": { "type": ["integer", "null"], "description": "Gebundener Kredit, null solange offen." },
          "pre_credit": { "type": "boolean", "description": "Bedarf steht vor der Baukredit-Freigabe und ist damit Prognose." },
          "allocations": { "type": "array", "items": { "$ref": "#/components/schemas/Allocation" } },
          "targets": { "type": "array", "items": { "$ref": "#/components/schemas/Target" } },
          "milestones": { "type": "array", "items": { "$ref": "#/components/schemas/Milestone" } },
          "source": { "type": "string", "enum": ["eppm", "app"] },
          "synced_at": { "type": "string", "format": "date-time" }
        }
      },
      "Allocation": {
        "type": "object",
        "description": "Ein Pensum einer Person auf einem Projekt in einem Quartal.",
        "required": ["person", "quarter", "pensum_pct"],
        "properties": {
          "person": { "type": "string" },
          "role": { "type": "string", "enum": ["projektleitung", "projektentwicklung", "bauleitung"] },
          "quarter": { "$ref": "#/components/schemas/Quarter" },
          "pensum_pct": { "type": "integer", "minimum": 0, "maximum": 200 }
        }
      },
      "Target": {
        "type": "object",
        "required": ["quarter", "pensum_pct"],
        "properties": {
          "quarter": { "$ref": "#/components/schemas/Quarter" },
          "pensum_pct": { "type": "integer", "minimum": 0 }
        }
      },
      "Milestone": {
        "type": "object",
        "required": ["code", "plan_date", "status"],
        "properties": {
          "id": { "type": "string" },
          "project_id": { "type": "integer", "format": "int64" },
          "code": { "type": "string", "examples": ["MS4"] },
          "name": { "type": "string" },
          "sub_phase": { "type": "string" },
          "plan_date": { "type": "string", "format": "date" },
          "forecast_date": { "type": ["string", "null"], "format": "date", "description": "null, solange kein Termin steht." },
          "status": { "type": "string", "enum": ["on_track", "late", "pending"] }
        }
      },
      "PersonCapacity": {
        "type": "object",
        "properties": {
          "person": { "type": "string" },
          "name": { "type": "string" },
          "role": { "type": "string" },
          "employment_pct": { "type": "integer", "description": "Anstellungsgrad." },
          "load_pct": { "type": "array", "items": { "type": "integer" }, "description": "Belegung je Quartal, in derselben Reihenfolge wie /capacity." }
        }
      },
      "HistoryEntry": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "at": { "type": "string", "format": "date-time" },
          "actor": { "type": "string" },
          "project_id": { "type": ["integer", "null"], "format": "int64" },
          "field": { "type": "string", "enum": ["pensum", "begruendung", "termin", "projektleitung", "abwesenheiten"] },
          "change": { "type": "string" },
          "value": { "type": "string" }
        }
      },
      "AllocationPatch": {
        "type": "object",
        "required": ["allocations"],
        "properties": {
          "allocations": { "type": "array", "items": { "$ref": "#/components/schemas/Allocation" } },
          "reason": { "type": "string", "description": "Pflicht, sobald eine Person damit über ihren Anstellungsgrad kommt." }
        }
      },
      "ProjectPage": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Project" } },
          "meta": {
            "type": "object",
            "properties": {
              "page": { "type": "integer" },
              "per_page": { "type": "integer" },
              "total": { "type": "integer" },
              "scope_total": { "type": "integer", "description": "Bauprojekte insgesamt, vor der Filterung." }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" },
          "field": { "type": "string" }
        }
      }
    }
  }
}
